body {
margin: 0px;
padding: 0px;
} 

.my_list {
  background-color: #273043;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width:980px ;
  min-height:3160px;
}

.frame_wrapper {
  background-color: #273043;
  height: 100vh;
  width: 100vh;
}

.frame {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  left: 357px;
  position: relative;
  top: 112px;
}

.div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 162px;
  position: relative;
}

.text_wrapper {
  color: #ffffff;
  font-family: "Righteous-Regular", Helvetica;
  font-size: 73px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame_2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 41px;
  position: relative;
}

.text_wrapper_2 {
  color: #818895;
  font-family: "Righteous-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.group {
  height: 98px;
  position: relative;
  width: 298px;
}

.good_morning_wrapper {
  align-items: center;
  background-color: #333e53;
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 9px 38px;
  position: relative;
}

.good_morning {
  color: transparent;
  font-family: "Righteous-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 220px;
  height: fit-content;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.span {
  color: #d9d9d9;
}

.text_wrapper_3 {
  color: #ffffff;
}
.text_wrapper_4 {
  color: #ffc148;
}

.frame_3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 44px;
  position: relative;
}


.overlap_group { 
  background-size: 100% 100%;
  height: 72px;
  left: 1px;
  position: relative;
  width: 690px;
  border-radius: 30px;
}

.image {
  height: 30px;
  left: 626px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 30px;
}
.frame_4 {
  align-items: center;
  display: inline-flex;
  gap: 16px;
  left: 17px;
  position: absolute;
  top: 22px;
}

.img {
  bottom: 10px;
  height: 20px;
  position: relative;
  width: 84px;
}

.p {
  color: #7f7f7f;
  font-family: "Righteous-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.distask{
  top: 45px;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 45px;
  position: relative;
}
.text_wrapper_5 {
  display: flex;
  justify-content: center;
  color: #d9d9d9;
  font-family: "Righteous-Regular", Helvetica;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.frame_5 {
  align-items: flex;
  display: flex;
  gap: 45px;
  /* height:400px; */
  position: relative;
  width: 611px;
  margin-bottom: 80px;
}

.frame_6 {
  /* align-items: flex-start; */
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 34px;
  margin-right: -8px;
  position: relative;
}

.frame_7 {
  align-items: flex-start;
  display: block;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  /* top: 22px; */
  width: 619px;
  height: 72px;
  background-color: #D9D9D9;
  border-radius: 30px;
  padding: 40px;
  margin: 20px;
}

.frame_8 {
  align-items: flex-end;
  display: inline-block;
  gap: 32px;
  left: 23px;
  position: relative;
  top: 22px;
  width: 619px;
  height: 72px;
  background-color: #D9D9D9;
  border-radius: 30px;
  margin-bottom:20px ;
}

.btnT{
  border: none;  
  background-color: transparent;
}

.frame_9 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 213px;
  position: relative;
  bottom: 20px;
}

.frame_10 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 14px;
  position: relative;
}

.ellipse {
  background-color: #E39090;
  border-radius: 10px;
  height: 20px;
  position: relative;
  width: 20px;
}

.text_wrapper_6 {
  color: #333e53;
  font-family: "Righteous-Regular", Helvetica;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame_11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 11.58px;
  position: relative;
  bottom: 20px; 
  margin-left: 140px;
}

.ellipse_2 {
  background-color: #d9d9d9;
  height: 30px;
  position: reabsative;
  width: 30px;
}

.image_2 {
  height: 30.46px;
  object-fit: cover;
  position: relative;
  width: 30px;
}

 
/* .done{
  color: #b0b0b0;
  font-family: "Righteous-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
} */

 

 

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_window {
  font-family: "Risque Regular", sans-serif;
  background-color: #273043f7;
  border-radius: 20px;
  box-shadow: 0px 6px 6px #00000040;
  padding: 2rem;
  position: relative;
  width: 1000px;
  height: 800px;
  max-width: 90%;
  min-height: 300px;
}
 
.h2addtask {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    color: #ffffff;
    font-style: italic;
    font-size: 64px;
    font-weight: 400;
    font-family: "Risque Regular", sans-serif;
   }

input[type="text"] {
 width: 477px;
 outline: none;
}

.AddContainer{
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    gap: 18px;
  }
.Inputs{
        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;
        width: 100%;
        top: -50px;
        display: flex;
        justify-content: center;
}

.form__field {
    font-family: inherit;
    width: 477px;
    border: none;
    border-bottom: 2px solid #ffffff;
    outline: none;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background-color: #273043f7;
    transition: border-color 0.2s;
  
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      font-weight: bolder;
      cursor: text;
      top: 35px;
      left: 265px;
      position: absolute;
      outline: none;
      border: none;
    }
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.3rem;
    color: #ffffff;
  }
  
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      left: 265px;
      display: block;
      transition: 0.2s;
      font-size: 1.3rem;
      color: #333E53;
      font-weight: 700;
      outline: none;
      border: none;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right,#576a8d,#333E53);
    border-image-slice: 1;
  }
  .form__field {
    &:required,
    &:invalid {
      box-shadow:none;
    }
  }

  
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
   }
   input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
   }
 
 .Addbtn{
  margin-top: 40px;
    position: relative;
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 38px;
 }
 .btn1 , .btn2{
  font-size: 28px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 80px;
  padding: 10px 20px;
  background-color: #D9D9D9;
  transition: all 0.3s ease 0s;
}

/* styling 2 pour les tasks */
/* styles.css */

.tasks_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.task {
  display: flex;
  align-items: center;
  background-color: #D9D9D9;
  border-radius: 30px;
  padding: 16px;
  margin-bottom: 32px;
  width: 80%; /* Adjust the width as needed */
}
.task_info {
  flex: 1;
  display: flex;
  margin-right: 16px;
  flex-direction: row;
  justify-content: space-between;
}

.task_actions {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 10px;
}

.done_task {
  text-decoration: line-through;
  color: #b0b0b0; 
}

