body {
  font-family: Arial, sans-serif;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.8;
}

button {
  margin-top: 1rem;
}
/* .done strong{
  text-decoration: line-through;
 }
.not-done strong{
  text-decoration: none;
}
 */


 
 
 
 